<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273923618577-fv8jqsgc2f9ougrqp1f7gb6gr76gku9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273923618577-fv8jqsgc2f9ougrqp1f7gb6gr76gku9j</string>
	<key>API_KEY</key>
	<string>AIzaSyAe1PxkaME26PgRnT_XaSxUXBgKpcMdvY8</string>
	<key>GCM_SENDER_ID</key>
	<string>273923618577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kbas.rental</string>
	<key>PROJECT_ID</key>
	<string>kbas-equipment-rental</string>
	<key>STORAGE_BUCKET</key>
	<string>kbas-equipment-rental.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273923618577:ios:6818df3b0042117468beb0</string>
</dict>
</plist>